$gris-oscuro: #455A64;
$gris: #607D8B;
$gris-claro: #CFD8DC;
$texto-1: #FFFFFF;
$amarillo: #FFEB3B;
$negro: rgb(8,8,8);
$texto-2: #757575;
$gris-division: #BDBDBD;
$titulo: "Eczar", serif;
$texto: "Ubuntu", sans-serif; 
$texto2: "Kreon", sans-serif;